
body{
  background-image: url("/images/b.jpg");
}

main{
   margin-top: 40%;
  color: antiquewhite;
  background-color: rgba(39, 36, 36, 0.868);
}

#about-me{
  width: 70%;
  position: relative;
  left: 15%;

}

#about-me p{
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
}


nav {
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 1;
  text-align: center;
  background-color: #f1f1f1;
}

nav a {
  display: block;
  color: black;
  padding: 10px;
  text-decoration: none;
}
 
nav a.active {
  background-color: #04AA6D;
  color: white;
}

nav a:hover:not(.active) {
  background-color: #555;
  color: white;
}

#image-position{
  text-align: center;
  display: block;
  
   
}

img{
     width: 100%;
    height: 350px;
}



.home-footer a{
  text-decoration: none;
  display: inline;
  text-align: center;
  color: black;
}



.home-footer{
  position: relative;

  left: 10%;
  width: 80%;
}

.home-footer p{
  color: grey;
}

/*Small Mobile*/
@media screen and (min-width: 449px) {
 
  main{
    margin-top: 30% ;
  }
 
}
/*Small Mobile*/
@media screen and (min-width: 599px) {
  main{
    margin-top: 25%;
  }

}
/*TABLETS OR IPADS*/
  @media screen and (min-width: 680px){
    img{
      height: 600px;
    }
   
    main{
      margin-top: 15%;
    }
  
    .info{
      background-color: rgba(0, 0, 0, 0.307);
      margin-left: 10%;
      border: 2px dashed white;
      border-top: none;
      border-bottom: none;
      width: 80%;
    }
  
  }
  
/*Laptops*/
  @media screen and (min-width: 1024px) {
  
#image-position{
  text-align: center;
}
    img{
      margin-top: -15%;
      width: 35%;
      height: 200px;
      border-radius: 50%;
    }
      nav{
        width: 200px;
        height: 100%;
        position: fixed;
        background-color: #1b1d1b;
       
        z-index: 1;
      }

      nav a{
        color: white;
        padding: 10%;
        
      }

      nav h4{
        text-transform: uppercase;
        color:  white;
        margin-top: 15%;
        font-size: 20px;
      }

     
      main{
        margin-top: 10%;
        width: 65%;
        margin-left: 20%;
        background: none;
      }

      .info{
        position: relative;
        margin-left: 20%;
        
        border: 2px dashed black;
        border-radius: 5%;
        background-color: white;
        color: black;
      }
    }
/*Large Laptops*/
@media screen and (min-width: 1439px) {
  img{
    width: 30%;
  }
}

/*4k Screen Monitors*/
@media screen and (min-width: 2559px) {
  
  #image-position{
    text-align: center;
  }
      img{
       
        width: 35%;
        height: 400px;

      }
        nav{
          width: 300px;
        }
  
        nav a{
          font-size: 40px;
          
        }
  
        nav h4{
          font-size: 35px;
        }

        .info{
          margin-left: 15%;
          font-size: 40px;
          border: 4px dashed black;

        }

      

    }












  
