body{
    background-image: url(/images/bgPic.webp);
}

h1 em{
    color: #1A459C;
}
.text-sections a{
    text-decoration: none;
}

.software-wrapper{
    margin-left: 25% ;
    padding: 5%;
    width: 50%;
}