/*THIS IS A GENERAL STYLESHEET FOR ALL PAGES*/


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,800&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&family=Poppins:ital,wght@1,800&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Play&family=Poppins:ital,wght@1,800&family=Roboto+Slab&display=swap');

*{
  margin: 0;
  padding: 0;
}

#me{
  position: relative;
  margin-top:-15%;
  
  width: 100%;
  height: 400px;
}


/*
article{
  border: 2px dashed black;
  border-radius: 5%;
  padding: 5%;
  background-color: white;
}
*/
h1, h3, h4, .nav h2{
  text-align: center;
}

h1{
  font-family: 'Poppins', sans-serif;
}

h3, h4, h5{
  font-family: 'Play', sans-serif;
}





.text-sections p{
  letter-spacing: .9px;
}

.center-icons{
  text-align: center;

}


/*FOOTER STYLES*/
.icon-link{
  display: inline;
  padding: 1%;
  text-decoration: none;
  font-size: 30px;
}


#tags{
    text-align: center;

    display: flex;
    flex-wrap: wrap;

}

.hashtag1, .hashtag2,.hashtag3{
  display: inline;
}

.hashtag1{
  flex: 0.5;
}

.hashtag2{
  order: 3;
  flex: .5;
}


.text-sectons{
  letter-spacing: 10px;
}



